<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Tic Tac Toe | Symfony v1.0{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body class="d-flex flex-column-reverse wallpaper">

<section
        class="w-fit h-100 d-flex flex-column align-items-center justify-content-center border border-2 py-3 px-5 rounded rounded-2">
    <h1>Tic Tac Toe</h1>
    <h3 class="fs-2 fw-bold">Select mode:</h3>
    <div class="d-block gap-3 align-items-center mt-5">
        <a type="button" class="btn btn-primary" href="{{  path('app_multiplayer') }}">Player vs Player</a>
        <a type="button" class="btn btn-warning" href="{{ path('app_computer') }}"> Human vs Computer</a>
    </div>
</section>

{% block body %}{% endblock %}

</body>
</html>