<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Tic Tac Toe | Symfony v1.0{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

</head>

<body class="d-flex flex-column-reverse wallpaper">

    <header>
        <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
            <h5 class="my-0 mr-md-auto font-weight-normal">Tic Tac Toe</h5>
            <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">Home</a>
                <a class="p-2 text-dark"
                   href="{{ app.user ? 'logout' : 'login' }}"
                   @click="isOpen = false">
                    {{ app.user ? 'Logout' : 'Login' }}</a>
            </nav>
            <a class="btn btn-outline-primary"
               href="/register"
               @click="isOpen = false">Sign up</a>
        </div>

    </header>

<main>
    {% block body %} {% endblock %}
</main>

</body>
</html>